<!DOCTYPE html>
<html ng-app="myModule">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../project1/css/bootstrap.min.css"/>
    <script src="../project1/js/jquery.min.js"></script>
    <script src="../project1/js/bootstrap.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/script.js"></script>
    <style>
        .arrow-up{
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 10px solid black;
            display: inline-block;
        }
        .arrow-down{
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 10px solid black;
            display: inline-block;
        }
    </style>
</head>
<body ng-controller="myController">
<div>
    <div>
        Name: {{movie.name}}
        <img ng-src="{{movie.path}}" height="200" width="200" alt="{{movie.name + 'poster'}}"/>
    </div>
    <label>
        <input type="text" ng-model="message"/>
    </label>

    <br>
    {{message}}
</div>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Hobby</th>
        <th>Age</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="friend in friends">
        <td>{{friend.name}}</td>
        <td>{{friend.hobby}}</td>
        <td>{{friend.age}}</td>
    </tr>
    </tbody>
</table>
<ul>
    <li ng-repeat="country in countries">
        {{country.name}} - Index = {{$index}}
        <ul>
            <li ng-repeat="city in country.cities">
                {{city.name}} -Parent Index = {{$parent.$index}} - Index = {{$index}}
            </li>
        </ul>
    </li>
</ul>

<!-- Starting with event handling -->
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Likes</th>
        <th>Dislikes</th>
        <th>Like/Dislike</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="technology in technologies">
        <td>{{technology.name}}</td>
        <td>{{technology.likes}}</td>
        <td>{{technology.dislikes}}</td>
        <td>
            <input type="button" value="Like" ng-click="increaseLikes(technology)"/>
            <input type="button" value="Dislike" ng-click="increaseDislikes(technology)"/>
        </td>
    </tr>
    </tbody>
</table>
<!-- START OF FILTER CODE -->
Rows to display: <input type="number" step="1" min="0" max="4" ng-model="rowLimit"/>
Order By:
<select ng-model="sortColumn">
    <option value="name">Name ASC</option>
    <option value="age">Age ASC</option>
    <option value="dateOfBirth">DOB ASC</option>
    <option value="salary">Salary DESC</option>
    <option value="-name">Name DESC</option>
    <option value="-age">Age DESC</option>
    <option value="-dateOfBirth">DOB DESC</option>
    <option value="-salary">Salary DESC</option>
</select>
<br>
<table class="table table-striped">
    <thead>
    <tr>
        <th ng-click="sortData('name')">Name <div ng-class="getSortClass('name')"></div></th>
        <th ng-click="sortData('dateOfBirth')">Date of Birth <div ng-class="getSortClass('dateOfBirth')"></div></th>
        <th ng-click="sortData('age')">Age <div ng-class="getSortClass('age')"></div></th>
        <th ng-click="sortData('salary')">Salary (number) <div ng-class="getSortClass('salary')"></div></th>
        <th ng-click="sortData('dateOfBirth')">Salary (currency)</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="friend in friends | limitTo: rowLimit | orderBy: sortColumn : reverseSort">
        <td>{{friend.name | uppercase}}</td>
        <td>{{friend.dateOfBirth | date: "dd/MM/yyyy" }}</td>
        <td>{{friend.age}}</td>
        <td>{{friend.salary | number:2}}</td>
        <td>{{friend.salary | currency:"$":1}}</td>
    </tr>
    </tbody>
</table>

</body>
</html>