<!DOCTYPE html>
<html ng-app="myModule">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../project1/css/bootstrap.min.css"/>
    <script src="../project1/js/jquery.min.js"></script>
    <script src="../project1/js/bootstrap.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/script.js"></script>
</head>
<body ng-controller="myController">
<div>
    <div>
        Name: {{movie.name}}
        <img ng-src="{{movie.path}}" height="200" width="200" alt="{{movie.name + 'poster'}}"/>
    </div>
    <label>
        <input type="text" ng-model="message"/>
    </label>

    <br>
    {{message}}
</div>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Hobby</th>
        <th>Age</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="friend in friends">
        <td>{{friend.name}}</td>
        <td>{{friend.hobby}}</td>
        <td>{{friend.age}}</td>
    </tr>
    </tbody>
</table>
<ul>
    <li ng-repeat="country in countries">
        {{country.name}} - Index = {{$index}}
        <ul>
            <li ng-repeat="city in country.cities">
                {{city.name}} -Parent Index = {{$parent.$index}} - Index = {{$index}}
            </li>
        </ul>
    </li>
</ul>

<!-- Starting with event handling -->
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Likes</th>
        <th>Dislikes</th>
        <th>Like/Dislike</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="technology in technologies">
        <td>{{technology.name}}</td>
        <td>{{technology.likes}}</td>
        <td>{{technology.dislikes}}</td>
        <td>
            <input type="button" value="Like" ng-click="increaseLikes(technology)"/>
            <input type="button" value="Dislike" ng-click="increaseDislikes(technology)"/>
        </td>
    </tr>
    </tbody>
</table>
<!-- START OF FILTER CODE -->
Rows to display: <input type="number" step="1" min="0" max="4" ng-model="rowLimit"/>
<br>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Date of Birth</th>
        <th>Age</th>
        <th>Salary (number)</th>
        <th>Salary (currency)</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="friend in friends | limitTo: rowLimit">
        <td>{{friend.name | uppercase}}</td>
        <td>{{friend.dateOfBirth | date: "dd/MM/yyyy" }}</td>
        <td>{{friend.age}}</td>
        <td>{{friend.salary | number:2}}</td>
        <td>{{friend.salary | currency:"$":1}}</td>
    </tr>
    </tbody>
</table>

</body>
</html>